<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<title>帳號註冊</title>
	<script th:src="@{/js/jQuery.js}"></script>
	<script>
		function a1(){
			$.ajax({
				type: "POST",
				url: "http://localhost:8080/user/add/ajax", 
				data: {"username": $("#username").val()},
				dataType: 'html', 
				success: function(data){ 
					if(data === ' 該帳號可以使用!'){
						$("#userInfo").css("color","blue");
					}
					else{
						$("#userInfo").css("color","red");
					}
					$("#userInfo").html(data);
					$("#msg").remove();
				},
			});
		}
	</script>
</head>
<body>

<div>
	<div class="col-md-4 col-md-offset-5" style="margin: auto; width: 300px; text-align:center">
		<h2>帳號註冊</h2>
		<form th:action="@{/user/add}" method="post">
		  <div class="form-group" style="text-align:left">
		  	<label>帳號：</label><input class="form-control" type="text" id="username" name="username" placeholder="必填" onblur="a1()" required/><span id="userInfo"></span>
		  </div>
		  <div class="form-group" style="text-align:left">
		  	<label>密碼：</label><input class="form-control" type="password" id="password" name="password" placeholder="必填" required/>
		  </div>
		  <div class="form-check" style="text-align:left; padding:10px">
		  	<label>性別：</label>
			<input type="radio" id="gender" name="gender" value="1" checked="checked"/><label>男</label>     
			<input type="radio" id="gender" name="gender" value="0"/><label>女</label>
		  </div>
		  <div class="form-group" style="text-align:left">
		  	<label>生日：</label><input class="form-control" type="date" id="birth" name="birth" />
		  </div>
		  <div class="form-group" style="text-align:left">
		  	<label>電話：</label><input class="form-control" type="text" id="phone" name="phone" />
		  </div>
		  <div class="form-group" style="text-align:left">
		  	<label>地址：</label><input class="form-control" type="text" id="address" name="address" />
		  </div>
		  <div class="form-group" style="text-align:left">
		  	<label>信箱：</label><input class="form-control" type="email" id="email" name="email" />
		  </div>
		  <div style="padding-top:10px">
		  	<span id="msg" style="color: red" th:if="${not #strings.isEmpty(msg)}">[[${msg}]]</span></br>
		  	<button type="submit" class="btn btn-primary">送出</button>
		  </div>
		</form>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>